[server]
http_port = 3030
http_addr = 0.0.0.0
domain = {{ hostname }}

[security]
admin_user = admin

[paths]
provisioning = /etc/grafana/provisioning

[analytics]
reporting_enabled = false
check_for_updates = false
