{%- from 'host_config.jinja' import host -%}
# Monitor: match main session resolution
{% if host.display %}
monitorv2 {
    output = DP-2
    mode = {{ host.display }}
    position = 0x0
    scale = 2
    vrr = 3
    bitdepth = 10
}
monitorv2 {
    output = DP-1
    disabled = true
}
{% endif %}

misc {
    force_default_wallpaper = 0
    disable_hyprland_logo = true
}

# Cursor: match main session theme
env = XCURSOR_THEME,Alkano-aio
env = XCURSOR_SIZE,23
env = HYPRCURSOR_THEME,Alkano-aio
env = HYPRCURSOR_SIZE,23
exec-once = qs -p ~/.config/quickshell/greeter/greeter.qml
