# Managed by Salt.
# This file is sourced by /opt/zapret2/init.d/sysv/zapret2.

WS_USER={{ ws_user }}
FWTYPE={{ fwtype }}
GETLIST={{ getlist }}
NFQWS2_ENABLE=1
NFQWS2_PORTS_TCP={{ tcp_ports }}
NFQWS2_PORTS_UDP={% if udp_ports %}{{ udp_ports }}{% endif %}
NFQWS2_TCP_PKT_OUT=10
NFQWS2_TCP_PKT_IN=3
NFQWS2_UDP_PKT_OUT=0
NFQWS2_UDP_PKT_IN=0
MODE_FILTER={{ mode_filter }}
FLOWOFFLOAD=donttouch
INIT_APPLY_FW=1
DISABLE_IPV6={% if disable_ipv6 %}1{% else %}0{% endif %}
FILTER_TTL_EXPIRED_ICMP=1

NFQWS2_OPT="
--filter-tcp=80 --filter-l7=http <HOSTLIST> --payload=http_req --out-range=-d10 --lua-desync=fake:blob=fake_default_http:ip_autottl=-2,3-20:ip6_autottl=-2,3-20:tcp_md5 --lua-desync=fakedsplit:ip_autottl=-2,3-20:ip6_autottl=-2,3-20:tcp_md5 --new
--filter-tcp=443 --filter-l7=tls <HOSTLIST> --payload=tls_client_hello --out-range=-d10 --lua-desync=wssize:wsize=1:scale=6 --lua-desync=multidisorder:pos=midsld --new
--filter-tcp=443 --filter-l7=tls --payload=tls_client_hello --out-range=-d10 --lua-desync=fake:blob=fake_default_tls:tcp_md5:tcp_seq=-10000:repeats=6 --lua-desync=multidisorder:pos=midsld --new
{% if udp_ports %}
--filter-udp=443 --filter-l7=quic <HOSTLIST> --payload=quic_initial --lua-desync=fake:blob=/opt/zapret2/files/fake/quic_initial_www_google_com.bin:repeats=11 --new
--filter-udp=443 --filter-l7=quic --payload=quic_initial --lua-desync=fake:blob=fake_default_quic:repeats=11
{% endif %}
"
