#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: true,
    show_song_table_header: false,
    symbols: (song: "󰝚", dir: " ", marker: "* ", ellipsis: "..."),
    layout: Split(direction: Vertical, panes: [( pane: Pane(TabContent), size: "100%",), ( pane: Pane(ProgressBar), size: "1",),],),
    progress_bar: ( symbols: ["─", "╼", ""], track_style: (fg: "#162b44"), elapsed_style: (fg: "#162b44"), thumb_style: (fg: "#162b44"),),
    scrollbar: ( symbols: ["", "", "", ""], track_style: (), ends_style: (), thumb_style: (fg: "#000000"),),
    browser_column_widths: [20, 38, 42],
    text_color: "#95a7bc",
    background_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "black", bg: "#0a3749", modifiers: "Bold")),
    borders_style: (fg: "#10233a"),
    current_item_style: (fg: "#005faf", bg: "0", modifiers: "Bold"),
    highlight_border_style: (fg: "#1c334e"),
    highlighted_item_style: (fg: "#810052", modifiers: "Bold"),
    song_table_format: [
        ( prop: (kind: Property(Track), style: (fg: "green"), default: (kind: Text("Unknown"))), width: "2%",),

        ( prop: (kind: Group([
          (kind: Property(Artist), style: (fg: "blue")),
          (kind: Text(" ❯ "), style: (fg: "#005faf")),
          (kind: Property(Title), style: (fg: "#95a7bc")),
        ]), default: (kind: Property(Filename))), width: "70%"),

        ( prop: (kind: Group([
          (kind: Property(Duration), default: (kind: Text("-")), style: (fg: "31")),
          (kind: Text(" "), style: (fg: "#95a7bc")),
          (kind: Property(Album), style: (fg: "#95a7bc"), default: (kind: Text("Unknown"))),
        ]), default: (kind: Property(Filename))), width: "30%", alignment: Right),
        
    ],
    browser_song_format: [
        ( kind: Group([ (kind: Property(Track)), (kind: Text(" ")), ])),
        ( kind: Group([ (kind: Property(Artist)), (kind: Text(" - ")), (kind: Property(Title)), ]), default: (kind: Property(Filename))),
    ],
    header: (
        rows: [
            (
                left: [ (kind: Text("["), style: (fg: "#285981", modifiers: "Bold")), (kind: Property(Status(State)), style: (fg: "#285981", modifiers: "Bold")), (kind: Text("]"), style: (fg: "#285981", modifiers: "Bold")) ],
                center: [ (kind: Property(Song(Artist)), style: (fg: "#367C36", modifiers: "Bold"), default: (kind: Text("Unknown"), style: (fg: "#367C36", modifiers: "Bold"))),
                    (kind: Text(" - ")), (kind: Property(Song(Title)), style: (fg: "#590038", modifiers: "Bold"), default: (kind: Text("No Song"), style: (fg: "#590038", modifiers: "Bold")))
                ],
                right: [ (kind: Text("Vol: "), style: (fg: "#285981", modifiers: "Bold")), (kind: Property(Status(Volume)), style: (fg: "#285981", modifiers: "Bold")), (kind: Text("% "), style: (fg: "#285981", modifiers: "Bold")) ]
            )
        ],
    ),
)
