IMAPAccount gmail
Host imap.gmail.com
User {{ gopass "email/gmail/address" }}
PassCmd "gopass show -o email/gmail/app-password"
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-bundle.crt

IMAPStore gmail-remote
Account gmail

MaildirStore gmail-local
Subfolders Verbatim
Path ~/.local/mail/gmail/
Inbox ~/.local/mail/gmail/INBOX/

Channel gmail
Far :gmail-remote:
Near :gmail-local:
Patterns "INBOX" "[Gmail]/Sent Mail" "[Gmail]/Drafts" "[Gmail]/All Mail" "[Gmail]/Trash" "[Gmail]/Spam"
Sync Pull
Create Near
Expunge Near
SyncState *
