dir={{ .chezmoi.homeDir }}/dw/aria
enable-rpc=true
save-session={{ .chezmoi.homeDir }}/.local/share/aria2/session
input-file={{ .chezmoi.homeDir }}/.local/share/aria2/session
save-session-interval=1800
