{#- Thin proxy: re-exports constants from _macros_common.jinja for .sls states.
    Usage: {% from '_imports.jinja' import host, user, home %}
    With pkg_list: {% from '_imports.jinja' import host, user, home, pkg_list %}
-#}
{%- from '_macros_common.jinja' import
    host,
    user,
    home,
    pkg_list,
    retry_attempts,
    retry_interval,
    healthcheck_timeout,
    sudo_timeout_minutes,
    ollama_pull_timeout,
    service_ports,
    ver_dir,
    sys_ver_dir
-%}
