/* remove gap after pinned tabs */

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

/* Hides the list-all-tabs button*/
#alltabs-button {
  display: var(--uc-show-all-tabs-button) !important;
}

#TabsToolbar {
  visibility: collapse;
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) {
  max-height: 1px;
  min-height: calc(0px);
  overflow: hidden;
}

.tab-label::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) " - ";
}

#statuspanel {
     display: none !important;
}

#urlbar {
    font-size: 12pt !important;
    font-weight: 600;
}

.findbar-find-status{
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-flex: 1;
}

.findbar-closebutton{
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 5px !important;
}
.findbar-closebutton > image{ padding: 3px }
.findbar-closebutton:hover > image{
    background: var(--toolbarbutton-hover-background) !important;
    border-radius: 4px
}
findbar > .findbar-container > hbox{ margin: 0 5px }

findbar::before{
    content:"";
    display: -moz-box;
    -moz-box-flex: 100;
}

/* Move findbar so it isn't over the scrollbar
    Delete if you want findbar to begin from right window edge */
findbar{
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
}
