[Unit]
Description=AdGuard Home DNS filter
After=network-online.target{% if dns_unbound %} unbound.service{% endif %}

Wants=network-online.target
{% if dns_unbound %}
Requires=unbound.service
{% endif %}

[Service]
Type=simple
User=adguardhome
Group=adguardhome
WorkingDirectory=/var/lib/adguardhome
ExecStart=/usr/local/bin/adguardhome --no-check-update -w /var/lib/adguardhome
Restart=on-failure
RestartSec=5
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW

[Install]
WantedBy=multi-user.target
