[Unit]
Description=DuckDNS IP update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/duckdns.env
ExecStart=/usr/local/bin/duckdns-update
