[Unit]
Description=Software fan speed control (fancontrol)
Requires=fancontrol-setup.service
After=fancontrol-setup.service
ConditionPathExists=/etc/fancontrol

[Service]
Type=simple
ExecStart=/usr/sbin/fancontrol
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
