[Unit]
Description=Zapret2 anti-DPI service
Documentation=https://github.com/bol-van/zapret2
After=network-online.target
Wants=network-online.target
ConditionPathExists={{ config_path }}

[Service]
Type=forking
Restart=no
TimeoutSec=30sec
IgnoreSIGPIPE=no
GuessMainPID=no
RemainAfterExit=no
ExecStart=/opt/zapret2/init.d/sysv/zapret2 start
ExecStop=/opt/zapret2/init.d/sysv/zapret2 stop

[Install]
WantedBy=multi-user.target
