#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    theme: Some("neg"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 1,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    enable_mouse: true,
    max_fps: 240,
    reflect_changes_to_playlist: true,
    scroll_amount: 5,
    keep_state_on_song_change: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
        order: EmbeddedFirst,
    ),
    directories_sort: ModifiedTime(reverse: true),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "80%", pane: Split(
                        direction: Vertical,
                        panes: [
                            (size: "1", pane: Pane(QueueHeader)),
                            (size: "100%", pane: Pane(Queue)),
                        ],
                    )),
                    (size: "20%", pane: Split(
                        direction: Vertical,
                        panes: [
                            (size: "60%", pane: Pane(AlbumArt)),
                            (size: "40%", pane: Pane(Lyrics)),
                        ],
                    )),
                ],
            ),
        ),
        ( name: "Directories", pane: Pane(Directories),),
        ( name: "Artists", pane: Pane(Artists),),
        ( name: "Album Artists", pane: Pane(AlbumArtists),),
        ( name: "Albums", pane: Pane(Albums),),
        ( name: "Playlists", pane: Pane(Playlists),),
        ( name: "Search", pane: Pane(Search),),
    ],
    keybinds: (
        clear: true,
        global: {
            "1": FocusTab("Queue"),
            "0": FocusTab("Directories"),
            "2": FocusTab("Artists"),
            "3": FocusTab("Album Artists"),
            "4": FocusTab("Albums"),
            "P": FocusTab("Playlists"),
            "?": FocusTab("Search"),

            ":": CommandMode,
            "<Tab>": NextTab,
            "<S-Tab>": PreviousTab,
            "<": PreviousTrack,
            ">": NextTrack,
            "p": TogglePause,
            "s": Stop,
            "b": SeekBack,
            "f": SeekForward,
            "S": SeekToStart,
            "-": VolumeDown,
            "=": VolumeUp,
            "z": ToggleRepeat,
            "r": ToggleRandom,
            "R": ToggleConsume,
            "y": ToggleSingle,
            "u": Update,
            "U": Rescan,
            "q": Quit,
            "w": ShowHelp,
            "o": ShowOutputs,
            "O": ShowOutputs,
            "I": ShowCurrentSongInfo,
            "X": AddRandom,

            "7": ExternalCommand(command: ["kitty", "--class", "mpd-add", "~/.local/bin/mpd-add", "-n"]),
            "L": ExternalCommand(command: ["mpc", "clear"]),
        },
        navigation: {
            "j": Down,
            "k": Up,
            "h": Left,
            "l": Right,
            "<Down>": Down,
            "<Up>": Up,
            "<Left>": Left,
            "<Right>": Right,
            "g": Top,
            "G": Bottom,
            "<C-u>": UpHalf,
            "<C-d>": DownHalf,
            "<C-b>": PageUp,
            "<C-f>": PageDown,
            "<CR>": Confirm,
            "<Esc>": Close,
            "<C-c>": Close,
            "/": EnterSearch,
            "n": NextResult,
            "N": PreviousResult,
            "i": FocusInput,
            "<Space>": Add,
            "a": Select,
            "V": InvertSelection,
            "A": AddAll,
            "D": Delete,
            "r": Rename,
            "J": MoveDown,
            "K": MoveUp,
            "<C-w>h": PaneLeft,
            "<C-w>j": PaneDown,
            "<C-w>k": PaneUp,
            "<C-w>l": PaneRight,
            "<C-z>": ContextMenu(),
            "<C-s>": Save(),
        },
        queue: {
            "<CR>": Play,
            "d": Delete,
            "C": DeleteAll,
            "<Space>": JumpToCurrent,
            "X": Shuffle,
        },
    ),
)
