[Desktop Entry]
Type=Application
Name=Happ
Exec=env QT_STYLE_OVERRIDE= /opt/happ/bin/Happ %f
Icon=happ
MimeType=application/x-happ;application/json;
Categories=Utility;
Terminal=false
