[Desktop Entry]
Type=Application
Name=Hiddify Official
GenericName=Hiddify
Comment=Official Hiddify AppImage launcher
Exec=/home/neg/.local/bin/hiddify-launch %U
Icon=network-vpn
Categories=Network;
StartupNotify=true
MimeType=x-scheme-handler/hiddify;x-scheme-handler/v2ray;x-scheme-handler/v2rayn;x-scheme-handler/v2rayng;x-scheme-handler/clash;x-scheme-handler/clashmeta;x-scheme-handler/sing-box;
Keywords=Hiddify;Proxy;VPN;V2ray;Sing-box;Clash;
