[Unit]
Description=Espanso text expander
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/espanso daemon
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
