[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
ConditionPathExists=%h/.config/kanata/config.kbd

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/config.kbd
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
ProtectSystem=strict
PrivateTmp=yes
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes

[Install]
WantedBy=default.target
