[Unit]
Description=Mailbox synchronization timer (Gmail)
[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true
[Install]
WantedBy=timers.target
