[Unit]
Description=Index picture directories into zoxide on changes
After=graphical-session.target
PartOf=graphical-session.target
[Service]
ExecStart=%h/.local/bin/pic-dirs-list
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
PrivateTmp=yes
PrivateDevices=yes
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes
[Install]
WantedBy=graphical-session.target
