[Unit]
Description=Synchronize calendars and contacts (vdirsyncer)
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync
NoNewPrivileges=true
ProtectSystem=strict
PrivateTmp=yes
PrivateDevices=yes
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes
