[Unit]
Description=MPD AudioScrobbler (Last.fm)
After=mpd.service
Requires=mpd.service

[Service]
ExecStart=/bin/mpdas
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
PrivateTmp=yes
PrivateDevices=yes
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes

[Install]
WantedBy=default.target
